node_modules
dist
dist-ssr
*.local
.vscode/*
!.vscode/extensions.json
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
server/**/bin/
server/**/obj/
server/**/*.db
server/**/*.db-shm
server/**/*.db-wal
server/**/wwwroot/uploads/*
!server/**/wwwroot/uploads/.gitkeep
